<section class="site-section next-section-indicator" id="hwa">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <H2>{{ i18n "hwa-title" }}</H2>
            </div>
            <div class="col-md-8">
                <h4 class="hwa-sub">{{ i18n "hwa-sub" }}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <H3>{{ i18n "WSsvk-title" }}</H3>
                <p>{{ i18n "WSsvk-sub" }}</p>
            </div>
            <div class="col-md-6">
                <H3>{{ i18n "AdsS-title" }}</H3>
                <p>{{ i18n "AdsS-sub" }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <H3>{{ i18n "VD-title" }}</H3>
                <p>{{ i18n "VD-sub" }}</p>
            </div>
            <div class="col-md-6"></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <iframe frameborder="0" width="750px" height="499.5px" src="https://www.youtube.com/embed/jek4lk1G-4w?rel=0&autoplay=0"></iframe>
            </div>
            <div class="col-md-4">
                <h3>GMDS -Tagung 2014 Interview mit</h3>
                <h3>Dr. Jobst Landgrebe, GF Cognotekt GmbH</h3>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <H2>{{ i18n "DrJL-title" }}</H2>
                <p>{{ i18n "DrJL-sub" }}</p>
            </div>
            <div class="col-md-6">
                <H2>{{ i18n "DrDvS-title" }}</H2>
                <p>{{ i18n "DrDvS-sub" }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <H2>{{ i18n "DrRM-title" }}</H2>
                <p>{{ i18n "DrRM-sub" }}</p>
            </div>
            <div class="col-md-6">
                <H2>{{ i18n "DrMM-title" }}</H2>
                <p>{{ i18n "DrMM-sub" }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <H2>{{ i18n "AB-title" }}</H2>
                <p>{{ i18n "AB-sub" }}</p>
            </div>
            <div class="col-md-6"></div>
        </div>
    </div>
</section>





