<section class="site-section next-section-indicator" id="whatWeo">    <!-- Site Header Banner -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <H2>{{ i18n "solutionsTitle" }}</H2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 solution-tile">
                <H3>{{ i18n "SuLI" }}</H3>
                <span>{{ i18n "SuLI-sub" }}</span>
                <br>
                <div>
                    <div class="container container-padding">
                        <!-- Trigger the modal with a button -->
                        <button type="button" class="btn btn-lg" data-toggle="modal" data-target="#myModal">{{ i18n "learn-more" }}</button>
                        <!-- Modal -->
                        <div class="modal fade" id="myModal" role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">{{ i18n "SuLI" }}</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>{{ i18n "SuLI-sub-long" }}</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">{{ i18n "modal-close" }}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 solution-tile">
                <H3>{{ i18n "KyCmKI" }}</H3>
                <span>{{ i18n "KyCmKI-sub" }}</span>
                <br>
                <div>
                    <div class="container container-padding">
                        <!-- Trigger the modal with a button -->
                        <button type="button" class="btn btn-lg" data-toggle="modal" data-target="#myModal">{{ i18n "learn-more" }}</button>
                        <!-- Modal -->
                        <div class="modal fade" id="myModal" role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">{{ i18n "SuLI" }}</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>{{ i18n "SuLI-sub-long" }}</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">{{ i18n "modal-close" }}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 solution-tile">
                <H3>{{ i18n "VI" }}</H3>
                <span>{{ i18n "VI-sub" }}</span>
                <br>
                <div>
                    <div class="container container-padding">
                        <!-- Trigger the modal with a button -->
                        <button type="button" class="btn btn-lg" data-toggle="modal" data-target="#myModal">{{ i18n "learn-more" }}</button>
                        <!-- Modal -->
                        <div class="modal fade" id="myModal" role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">{{ i18n "SuLI" }}</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>{{ i18n "SuLI-sub-long" }}</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">{{ i18n "modal-close" }}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 solution-tile">
                <H3>{{ i18n "AI" }}</H3>
                <span>{{ i18n "AI-sub" }}</span>
                <br>
                <div>
                    <div class="container container-padding">
                        <!-- Trigger the modal with a button -->
                        <button type="button" class="btn btn-lg" data-toggle="modal" data-target="#myModal">{{ i18n "learn-more" }}</button>
                        <!-- Modal -->
                        <div class="modal fade" id="myModal" role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">{{ i18n "SuLI" }}</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>{{ i18n "SuLI-sub-long" }}</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">{{ i18n "modal-close" }}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 solution-tile">
                <H3>{{ i18n "CE" }}</H3>
                <span>{{ i18n "CE-sub" }}</span>
                <br>
                <div>
                    <div class="container container-padding">
                        <!-- Trigger the modal with a button -->
                        <button type="button" class="btn btn-lg" data-toggle="modal" data-target="#myModal">{{ i18n "learn-more" }}</button>
                        <!-- Modal -->
                        <div class="modal fade" id="myModal" role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">{{ i18n "SuLI" }}</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>{{ i18n "SuLI-sub-long" }}</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">{{ i18n "modal-close" }}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 solution-tile">
                <H3>{{ i18n "Im" }}</H3>
                <span>{{ i18n "Im-sub" }}</span>
                <br>
                <div>
                    <div class="container container-padding">
                        <!-- Trigger the modal with a button -->
                        <button type="button" class="btn btn-lg" data-toggle="modal" data-target="#myModal">{{ i18n "learn-more" }}</button>
                        <!-- Modal -->
                        <div class="modal fade" id="myModal" role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">{{ i18n "SuLI" }}</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>{{ i18n "SuLI-sub-long" }}</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">{{ i18n "modal-close" }}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 solution-tile">
                <H3>{{ i18n "WL" }}</H3>
                <span>{{ i18n "WL-sub" }}</span>
                <br>
                <div>
                    <div class="container container-padding">
                        <!-- Trigger the modal with a button -->
                        <button type="button" class="btn btn-lg" data-toggle="modal" data-target="#myModal">{{ i18n "learn-more" }}</button>
                        <!-- Modal -->
                        <div class="modal fade" id="myModal" role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">{{ i18n "SuLI" }}</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>{{ i18n "SuLI-sub-long" }}</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">{{ i18n "modal-close" }}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 solution-tile"></div>
        </div>
    </div>
</section>