<section class="site-section section-focus next-section-indicator" id="jobs">    <!-- Site Header Banner -->
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <H2>{{ i18n "Wws-title" }}</H2>
            </div>
            <div class="col-md-8">
                <h4 class="hwa-sub">{{ i18n "Wws-sub" }}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <H3>{{ i18n "WSsvk-title" }}</H3>
                <p>{{ i18n "WSsvk-sub" }}</p>
            </div>
            <div class="col-md-6">
                <H3>{{ i18n "AdsS-title" }}</H3>
                <p>{{ i18n "AdsS-sub" }}</p>
            </div>
        </div>
    </div>
</section>