<section class="site-section section-focus next-section-indicator" id="howwework">    <!-- Site Header Banner -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <H2>{{ i18n "hwwTitle" }}</H2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>{{ i18n "WmUu" }}</h3>
                <p>{{ i18n "WmUu-sub" }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3>{{ i18n "IKfkI" }}</h3>
                <p>{{ i18n "IKfkI-sub" }}</p>
            </div>
            <div class="col-md-6">
                <h3>{{ i18n "FaI" }}</h3>
                <p>{{ i18n "FaI-sub" }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>{{ i18n "Sswge" }}</h3>
                <p>{{ i18n "Sswge-sub" }}</p>
            </div>
        </div>
    </div>
</section>