<!--&lt;!&ndash;this is the section that renders the blog section on the main page ....&ndash;&gt;-->
<!--&lt;!&ndash;and iterates throug all the pages ...&ndash;&gt;-->

<!--<section class="site-section next-section-indicator" id="hwa">-->
    <!--<div class="container">-->
        <!--<div class="row">-->
            <!--<div class="col-md-12">-->
                <!--<div class="posts">-->
                    <!--<h1 id="title">{{ i18n "blog-title" }}</h1>-->
                    <!--{{ range .Site.Pages.GroupByDate "2017" }}-->
                    <!--<h2>{{ .Key }}</h2>-->
                    <!--<ul id="list">-->
                        <!--{{ range .Pages }}-->
                        <!--<a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a>-->
                        <!--<p>{{ .Summary }}</p>-->
                        <!--{{ .Render "li"}}-->
                        <!--{{ end }}-->
                    <!--</ul>-->
                    <!--{{ end }}-->
                <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</section>-->

